<label >ENTER PET INFORMATION</label>
<div class="card my-5 ">
  <div class="card-body bg-light">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group required">
        <label class="control-label" for="name">Name</label>
        <input type="text"  autocomplete="off" [(ngModel)]="pet.petName" 
        onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)"
          class="form-control" id="name" name="name" placeholder="Enter pet name"
          required #name="ngModel">
      </div>
      
      <div class="form-group">
        <label for="color">Color</label>
        <input type="text" [(ngModel)]="pet.petColor" 
        onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)"
          class="form-control" id="color" name="color" placeholder="Enter pet color"
           #color="ngModel">
      
      </div>
      <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-info">Submit</button>
    </form> 
  </div>
</div>