<div class="text-center" style="background-color: #FF9800">
	<h2>PET STORE</h2>
	<!-- <label class="text-white" >PET STORE</label> -->
	
	<nav class="navbar navbar-expand-md navbar-dark " *ngIf="(authenticationService.isUserLoggedIn() )">
 
    <!-- <div class="navbar-nav">
			<a class="nav-item nav-link" style="color: #000000" routerLink="/addPerson">Add person</a> 
			<a class="nav-item nav-link" style="color: #000000" routerLink="/addPet">Add pet </a>
			<a class="nav-item nav-link" style="color: #000000" routerLink="/getPerson">View persons</a> 
			<a class="nav-item nav-link" style="color: #000000" routerLink="/getPet">View pets</a> 
			<a class="nav-item nav-link  navbar-collapse justify-content-end" style=' color:#000000' (click)="authenticationService.logout()">Logout</a>
     </div>  -->
     
     <!-- <div class="navbar-brand">-->
     <ul class="navbar-nav">
            <li ><a routerLink="/addPerson" style="color: #000000" class="nav-link">Add person</a></li>
            <li ><a routerLink="/addPet"  style="color: #000000" class="nav-link">Add pet</a></li>
            <li ><a routerLink="/getPerson"  style="color: #000000" class="nav-link">Get person</a></li>
            <li ><a routerLink="/getPet" style="color: #000000" class="nav-link">Get pet</a></li>
     </ul>
     <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a style="color: #000000" (click)="authenticationService.logout()" class="nav-link">Logout</a></li>
     </ul>
   <!--   </div> -->
    
    
</nav>
                <!-- <router-outlet></router-outlet> -->
</div>

<div class="jumbotron " style="background-color:transparent">
    <div class="container my-custom-container">
    
                <router-outlet></router-outlet>
    </div>
</div>  


<!-- 
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
       
            <li class="list-inline-item"><a routerLink="/addPerson" class="btn btn-info">Add person</a></li>
            <li class="list-inline-item"><a routerLink="/addPet" class="btn btn-info">Add pet</a></li>
            <li class="list-inline-item"><a routerLink="/getPerson" class="btn btn-info">Get person</a></li>
            <li class="list-inline-item"><a routerLink="/getPet" class="btn btn-info">Get pet</a></li>
            <li class="list-inline-item"><a  (click)="authenticationService.logout()" class="btn btn-info">Logout</a></li>
            
            
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
 -->